streamlit
matplotlib==3.6.3
plotly==5.14.1
TIME-python
#time
streamlit_extras
st-annotated-text
streamlit-card
bokeh==2.4.3
streamlit-navigation-bar

# Streamlit components
streamlit-ace
streamlit-discourse
streamlit-disqus
streamlit-elements
#streamlit-pandas-profiling
streamlit-player
streamlit-quill

# Dependencies
#pandas-profiling
requests

scikit-learn
category-encoders
seaborn
scipy==1.11.0

